<div [@routerTransition]>

    <div class="row">
        <div class="col-xl-12">
            <!-- <h2 class="page-header">
                Dashboard
            </h2> -->
            <!-- <mat-divider></mat-divider>
            <mat-divider></mat-divider>

            <mat-divider></mat-divider>

            <mat-divider></mat-divider> -->


            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                     Media Content
                </li>
            </ol>
        </div>
    </div>

    <app-flat-media-table></app-flat-media-table>
    &nbsp;
    <hr>

    <!-- <hr> -->

    <!-- <mat-divider></mat-divider> -->
    &nbsp;

    <div class="row" >
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ">
            Transcoder Status
                </li>
            </ol>
        </div>
    </div>
    <app-transcoder-status></app-transcoder-status>
</div>