<div *ngIf="transcodes.length > 0 ; else noData">
    <mat-table [dataSource]="transcodes" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.type}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="filesize">
            <mat-header-cell scope="filesize" *matHeaderCellDef> Filesize </mat-header-cell>
            <ng-container *matCellDef="let element">
                <mat-cell  *ngIf="element.filesize ; else noReplies">{{element.filesize}} </mat-cell>
            </ng-container>
            <ng-template #noReplies>
                <mat-cell >-</mat-cell>
            </ng-template>
        </ng-container>
        <ng-container matColumnDef="container">
            <mat-header-cell *matHeaderCellDef> Container </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.container}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="videoCodec">
            <mat-header-cell *matHeaderCellDef> Video Codec </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.videoCodec}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="audioCodec">
            <mat-header-cell *matHeaderCellDef> Audio Codec </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.audioCodec}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="resolution">
            <mat-header-cell *matHeaderCellDef> Resolution </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.resolution}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bitrate">
            <mat-header-cell *matHeaderCellDef> Bitrate </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.bitrate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="preset">
            <mat-header-cell *matHeaderCellDef> Preset </mat-header-cell>
            <mat-cell  *matCellDef="let element">{{element.preset}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="processed">
            <mat-header-cell *matHeaderCellDef> Processed </mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <mat-progress-bar mode="determinate" [value]="element.processed"></mat-progress-bar>
                {{element.processed}}%
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"> </mat-row>
    </mat-table>
</div>
<ng-template #noData>
    <div class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <div class="alert alert-info">
                <strong>Oh!</strong> No transcoding at this moment.
            </div>
            <!-- <div class="wrapper">
                <button type="button" class="btn btn-primary center" [routerLink]="['/upload-videos']">Start
                    here!</button>
            </div> -->
            <div class="col-xl-3"></div>
        </div>
    </div>
</ng-template>